body{
  font-family: "微軟正黑體";
}
h1{
  font-size: 45px;
}
h2{
  letter-spacing: 10px;
  margin-bottom: 70px;
}

/* 左上右下陰影 */
span{
  height: 200px;
  width: 300px;
}
.shadow-l{
  transform: translate(-50%,-50%) rotate(-45deg);
  transform-origin: center;
  box-shadow: 0px 5px 4px -5px rgba(0, 0, 0, 0.4);
}
.shadow-r{
  transform: translate(50%,50%) rotate(-45deg);
  transform-origin: center;
  box-shadow: 0px -5px 4px -5px rgba(0, 0, 0, 0.4);
}